#--------------------------------------------------
# Répertoire : /articles/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# Règles de réécriture d'URL :
#--------------------------------------------------

# Administration :
RewriteRule ^article-administration.html$   /Blog/public/index.php?administration [L]

# Saisir un nouveau post :
RewriteRule ^article-entre-article.html$   /Blog/public/index.php?enter_post [L]

# Editer un post :
RewriteRule ^article-editer-article-([0-9]+).html$   /Blog/public/index.php?edit_post=$1 [L]

# Supprimer un post :
RewriteRule ^article-supprimer-article-([0-9]+).html$   /Blog/public/index.php?delete_post=$1 [L]

# Article avec numéro :
RewriteRule ^article-([0-9]+).html$   /Blog/public/index.php?id=$1 [L]

# administration et comments :
RewriteRule ^article-adm-com.html$   /Blog/public/index.php?administration&comments [L]

# administration visiteur :
RewriteRule ^admin-visit.html$   /Blog/public/index.php?visiteur [L]

# administration article :
RewriteRule ^admin-article.html$   /Blog/public/index.php?posts [L]

# administration comment :
RewriteRule ^admin-comment.html$   /Blog/public/index.php?comments [L]

# nouveau post :
RewriteRule ^new-post.html$   /Blog/public/index.php?come_back_list_posts [L]

# valider comment : 
RewriteRule ^comment-valider-([0-9]+).html$   /Blog/public/index.php?send_comment=$1&etat=Valider [L]

# refuser comment : 
RewriteRule ^comment-refuser-([0-9]+).html$   /Blog/public/index.php?send_comment=$1&etat=refuser [L]

# lire les posts : 
RewriteRule ^post-([0-9]+).html$   /Blog/public/index.php?id=$1  [L]

# Article avec numéro de page :
# RewriteRule ^article-([0-9]+)-([0-9]+)-([0-9]+).html   /articles/article.php?id=$1&page=$2&rubrique=$3 [L]