{% extends 'backend/BackendNewsLayout.html' %}

{% block content %}
	<h2>Modifier un commentaire</h2>
	<form action="commentSave" method="post">
	  <p>
	  <div>
		<input type="hidden" name="user_id" value="{{ Comment.user_id }}" maxlength="11" />
      </div>

	  <div>
		<label>Content</label>
		<textarea name="content" cols="50" rows="7" required>{{ Comment.content }}</textarea><br />
	  </div>

	  <div>
		<label id="label_etat" for="etat" >Etat</label>
		<select id="etat" name="etat" required>
		  {% if Comment.etat == "Refusé" %}
			<option value="Refusé" selected>Refusé</option>
		  {% else %}
 		    <option value="Refusé">Refusé</option>
		  {% endif %}

		  {% if Comment.etat == "Validé" %}
		    <option value="Validé" selected>Validé</option>
		  {% else %}
			<option value="Validé">Validé</option>
		  {% endif %}
		</select>
	  </div>

	  <div>
	    <input class="btn btn-secondary btn-x2" type="submit" value="Modifier" />

   	  	<input type="hidden" name="comment_id" value="{{ Id }}" maxlength="11" /><br />
   	  	<input type="hidden" name="new_id" value="{{ Comment.new_id }}" maxlength="11" /><br />
   	  	<input type="hidden" name="dateCreation" value="{{ Comment.dateCreation }}" maxlength="11" /><br />
	  </div>
	  </p>
	</form>
{% endblock %}