{% extends 'backend/BackendNewsLayout.html' %}

{% block content %}
	<h2>Modifier une news</h2>
	<form action="newsSave" method="post">
	  <p>
		<input type="hidden" name="user_id" value="{{ User_id }}" maxlength="11" />

	  	<label>Titre</label>
	  	<input type="text" name="titre" value="{{ News.titre }}" maxlength="100" /><br />

	  	<label>Chapo</label>
	  	<textarea name="chapo" cols="60" rows="2">{{ News.chapo }}</textarea><br />

	  	<label>Content</label>
	  	<textarea name="content" cols="60" rows="8">{{ News.content }}</textarea><br />

	    <input type="submit" value="Modifier" />

	  	<input type="hidden" name="id" value="{{ News.id }}" maxlength="11" /><br />
	  </p>
	</form>
{% endblock %}
