{% extends 'frontend/FrontendNewsLayout.html' %}

{% block content %}
	<p>Par <em>{{ new.userId }}</em>, le {{ new.dateCreation|date("d/m/Y") }}</p>
	<h2>{{ new.titre }}</h2>
	<p>{{ new.chapo|nl2br }}</p>
	<p>{{ new.content|nl2br }}</p>
	 
	{% if (new.dateCreation != new.dateModif) %}
	  <p style="text-align: right;"><small><em>Modifiée le {{ new.dateModif|date("d/m/Y") }}</em></small></p>
	{% endif %}

    {% if ((user.isAuthenticated) and (user.isRoleId == 'Membre') or (user.isRoleId == 'Administrateur') or (user.isRoleId == 'Super-Administrateur')) %}
      <p><a class="blog-a" href="commenter-{{ new.id }}.html">Ajouter un commentaire</a></p>
    {% endif %}
	 
	{% if (comments is empty) %}
		<p>Aucun commentaire n'a encore été posté. Soyez le premier à en laisser un !</p>
	{% endif %}
		 
	{% for comment in comments %}
		<fieldset>
		  <legend>
		    Posté par <strong>{{ comment.user_id }}</strong> le {{ comment.dateCreation|date("d/m/Y") }}
            {% if ((user.isAuthenticated) and (user.isRoleId == 'Administrateur') or (user.isRoleId == 'Super-Administrateur')) %}
		      <a class="blog-a" href="admin/comment-update-{{ comment.id }}.html">Modifier</a> |
			  <a class="blog-a" href="admin/comment-delete-{{ comment.id }}.html">Supprimer</a>
		      <!-- a class="blog-a" href="admin/comment-delete-{{ comment.id }}-{{ comment.new_id }}.html">Supprimer</a -->
		    {% endif %}
		  </legend>
		  <p>{{ comment.content|nl2br }}</p>
		</fieldset>
	{% endfor %}

	{% if ((user.isAuthenticated) and (user.isRoleId == 'Membre') or (user.isRoleId == 'Administrateur') or (user.isRoleId == 'Super-Administrateur')) %}
    	<p><a class="blog-a" href="commenter-{{ new.id }}.html">Ajouter un commentaire</a></p>
	{% endif %}
{% endblock %}

	