{% extends 'frontend/FrontendNewsLayout.html' %}

{% block content %}
	{% for new in listeNews %}
	  <h2><a class="blog-a" href="news-{{ new.id }}.html">{{ new.titre }}</a></h2>
	  <p>Posté le {{ new.dateModif|date("d/m/Y") }}</p>
	  <p>{{ new.chapo }}</p>  
	{% endfor %}

	<p>{% if (num - nombreNews) >= 0 %}
			<a class="btn btn-secondary btn-x2" href="/{{ num - nombreNews }}">Précédent</a>
		{% endif %}
		{% if (num + nombreNews) < countNews %}
			<a class="btn btn-secondary btn-x2" href="/{{ num + nombreNews }}">Suivant</a>
		{% endif %}</p>
{% endblock %}